click>=7.0,<8

json-rpc==1.13.0
tokenizers==0.11.6
loguru==0.5.3
PyYAML==6.0
pyzmq==22.3.0
Unidecode==1.1.1
inflect==4.1.0
scipy==1.7.2
sounddevice==0.4.3
Jinja2==3.0.2
webrtcvad==2.0.10
numpy~=1.21.4
setuptools~=57.0.0
huggingface-hub==0.1.2
pyctcdecode>=0.1.1
librosa==0.7.0
numba==0.48
scikit-learn==1.0.2
jinja2schema==0.1.4
appdirs==1.4.4
aiohttp==3.8.1