name: Release

on:
  create:
    tags:
      - "v*.*.*"

jobs:
  Release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8.x

      - name: Get the version
        id: get_version
        uses: dawidd6/action-get-tag@v1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
          pip install .[dev,dml]

      - name: Build release
        run: |
          pyinstaller --additional-hooks-dir hooks --exclude-module tkinter --exclude-module matplotlib .\npc_engine\cli.py --onedir
          pip-licenses --format=plain-vertical --with-license-file --no-license-path --output-file dist\cli\DEPENDENCY_LICENSES.txt
          tar.exe -a -c -f npc-engine-${{ steps.get_version.outputs.tag }}.zip -C dist\cli .\*

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: CHANGELOG.txt
          token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
          files: |
            npc-engine-${{ steps.get_version.outputs.tag }}.zip
